USE [master]
GO
/****** Object:  Database [VDBS_DB]    Script Date: 13-06-2021 11:22:43 ******/
CREATE DATABASE [VDBS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VDBS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VDBS_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VDBS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VDBS_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VDBS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VDBS_DB]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 13-06-2021 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_CompanyMaster_Status]  DEFAULT ((0)),
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileMaster]    Script Date: 13-06-2021 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_FileMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_GETCompanyName]    Script Date: 13-06-2021 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GETCompanyName]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT CompanyMaster.ID as CompanyID,CompanyMaster.Name,CompanyMaster.Status,FileMaster.ID as FIleID,FileMaster.FileName FROM CompanyMaster
	INNER JOIN FileMaster on CompanyMaster.ID=FileMaster.CompanyID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertCompanyName]    Script Date: 13-06-2021 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertCompanyName]
	@Name nvarchar(500),
	@fileName nvarchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @CompnayID nvarchar(500)=''
	SELECT @CompnayID=ID From CompanyMaster WHere Name=@Name
	IF(@CompnayID='')
	BEGIN
		INSERT INTO CompanyMaster (Name) Values(@Name) 
		SET @CompnayID  =SCOPE_IDENTITY();

		INSERT INTO FileMaster(FileName,CompanyID) VALUES(@fileName,@CompnayID)
	END
	

	INSERT INTO FileMaster(FileName,CompanyID) VALUES(@fileName,@CompnayID)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCompanyName]    Script Date: 13-06-2021 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCompanyName]
	@Status int,
	@CompanyID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	UPDATE CompanyMaster SET Status=@Status Where ID=@CompanyID
END

GO
USE [master]
GO
